/*! menu-effect.js 1.0.0 by jleggat */

.effect-4.dat-menu-animate .dat-menu-container {
	-webkit-transform: translateZ(0) translateX(0) translateY(80%);
	transform: translateZ(0) translateX(0) translateY(80%);
}

.dat-menu-setup {
	background-color: #000;
}

.dat-menu-list {
	top: 2em;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

li.dat-menu-header {
	display: none;
}