div,
span,
iframe,
h2,
h3,
p,
a,
img,
strong,
i,
ul,
li,
form,
label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    background: transparent;
}
a {
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}
:focus {
    outline: 0;
}
html,
body {
    display: block;
    height: 100%;
    min-height: 100%;
}
h2,
h3,
span,
p,
input {
    margin: 0;
    padding: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
}
img {
    border: none;
}
@charset "UTF-8";
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #5e5e5e;
}
body,
html {
    height: auto;
}
a {
    color: #006738;
    text-decoration: none;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.clear-float {
    clear: both;
}
.wrapper {
    width: 1190px;
    margin: 0px auto;
    position: relative;
}
.active.boxed {
    width: 1250px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    padding: 0px;
    min-height: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
i.fa {
    line-height: inherit!important;
    font-weight: normal!important;
    font-size: inherit!important;
    display: inline-block!important;
}
img {
    max-width: 100%;
    height: auto;
}
.ot-slider .ot-slider-layer strong {} h2,
h3 {
    line-height: 120%;
}
h3 a {
    color: inherit;
    text-decoration: none!important;
}
p {
    line-height: 150%;
    margin-bottom: 15px;
}
.header {
    display: block;
    padding-top: 20px;
}
.header a {
    color: #fff;
}
.header > .wrapper {
    display: table;
}
.header:not(.makefixed) > .wrapper {
    left: 0px!important;
    margin-left: auto!important;
}
.header .header-left {
    display: table-cell;
    background-size: 100% auto;
    width: 20%;
    text-align: center;
}
.header .header-logo {
    display: block;
    margin: 12px 27px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}
.header .header-left.no-socials .header-logo {
    border-bottom: 0px;
    padding-bottom: 0px;
}
.header .header-logo > a {
    position: relative;
    display: block;
    z-index: 5;
}
.header .header-logo > strong {
    display: block;
    opacity: 0;
    position: absolute;
    color: #fff;
    top: 0px;
    left: 0px;
    width: 100%;
    line-height: 50px;
    z-index: 0;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 300;
}
.header .header-right {
    display: table-cell;
    background: #006738;
    color: #fff;
    width: 80%;
}
.header {
    display: block;
    margin-bottom: 40px;
    z-index: 1000;
}
.search-header {
    display: block;
    top: 0px;
    right: 0px;
}
.search-header input[type=search] {
    display: block;
    border: 0px;
    background: transparent;
    z-index: 3;
    position: absolute;
    top: 0px;
    height: 72px;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    width: 9%;
    right: 0px;
    opacity: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -webkit-appearance: none;
}
.main-menu li {
    -moz-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    opacity: 1;
}
.main-menu > ul > li > a {
    box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.2);
    transition: color, background 0.2s;
    -moz-transition: color, background 0.2s;
    -webkit-transition: color, background 0.2s;
    -o-transition: color, background 0.2s;
}
.header .search-header:after,
.header .under-menu li a {
    transition: color, background 0.2s;
    -moz-transition: color, background 0.2s;
    -webkit-transition: color, background 0.2s;
    -o-transition: color, background 0.2s;
}
.search-header input[type=submit] {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    line-height: 72px;
    height: 72px;
    border: 0px;
    cursor: pointer;
    width: 9%;
    background: transparent;
    color: transparent;
}
.search-header input[type=search]::-webkit-input-placeholder {
    color: #fff;
}
.search-header input[type=search]:-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.search-header input[type=search]::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.search-header input[type=search]:-ms-input-placeholder {
    color: #fff;
}
.search-header:after {
    display: block;
    position: absolute;
    content: '\f002';
    top: 0px;
    right: 0px;
    z-index: 0;
    width: 9%;
    line-height: 72px;
    height: 72px;
    font-size: 26px;
    text-align: center;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.main-menu {
    display: block;
    z-index: 100;
    position: relative;
    background-color: inherit;
}
.main-menu ul {
    background-color: inherit;
    width: 100%;
    position: relative;
}
.main-menu li {
    display: block;
    float: left;
    background: inherit;
    position: relative;
}
.main-menu ul.sub-menu > li a {
    background: transparent;
}
.main-menu > ul > li:not(.has-ot-mega-menu) li a,
.main-menu > ul > li > a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 2;
    position: relative;
    background: inherit;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
}
.main-menu > ul > li:not(.has-ot-mega-menu) li > a {
    font-size: 1em;
    padding: 17px 20px 17px 20px;
    font-weight: 700;
}
.main-menu li > a i {
    font-size: 0.6em;
    font-weight: 300;
    font-style: normal;
    display: block;
    line-height: 150%;
}
.main-menu li a > span {
    padding-right: 18px;
    display: block;
    position: relative;
}
.main-menu li a > span:after {
    display: block;
    content: "\f107";
    position: absolute;
    right: 0px;
    top: 0px;
}
.main-menu li > ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 300px;
    padding-left: 0px;
    padding-bottom: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.main-menu li ul > li {
    float: none;
    display: block;
    margin-bottom: 0px;
}
.main-menu li > ul.sub-menu > li:after {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 1px;
    background: rgba(255, 255, 255, 0.03);
    left: 7%;
    right: 7%;
    content: '';
    z-index: 2;
}
.main-menu > ul > li:not(.has-ot-mega-menu) > ul li > a {
    background: #1e1e1e;
    color: #a7a7a7;
    font-weight: normal;
}
.main-menu.transition-active > ul > li > ul {
    visibility: hidden;
}
.header .under-menu {
    display: block;
    background: rgba(255, 255, 255, 0.13);
    clear: both;
    line-height: 40px;
    z-index: 99;
    position: relative;
}
.header .under-menu:after {
    display: block;
    clear: both;
    content: '';
}
.header .under-menu li {
    display: block;
    float: left;
    position: relative;
    background: transparent;
}
.header .under-menu > ul > li {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.header .under-menu li a {
    display: block;
    padding: 0px 20px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.86em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
.header .under-menu li a > span:after {
    display: inline-block;
    content: ".";
    padding-left: 5px;
}
.header .under-menu li > ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 230px;
    padding-left: 0px;
    background: #1a1a1a;
}
.header .under-menu li > ul a {
    color: #fff;
    background: transparent;
}
.header .under-menu li a > span {
    padding-right: 18px;
    display: block;
    position: relative;
}
.main-menu ul:after {
    clear: both;
    content: '';
    display: block;
}
.ot-slider {
    display: block;
    padding-bottom: 40px;
    position: relative;
    background: #fff;
    z-index: 20;
}
.ot-slider:after {
    display: block;
    clear: both;
    content: '';
}
.ot-slider .ot-slide {
    display: block;
    position: relative;
}
.ot-slider .ot-slider-layer {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
}
.ot-slider .ot-slider-layer img {
    max-width: 100%;
    height: auto;
}
.ot-slider .ot-slider-layer a {
    color: #fff!important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.ot-slider .ot-slider-layer a:before {
    display: block;
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    opacity: 0.5;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.ot-slider .ot-slider-layer strong {
    display: block;
    position: absolute;
    z-index: 5;
    bottom: 30px;
    left: 30px;
    right: 30px;
    font-size: 1.9em;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: uppercase;
    line-height: 120%;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.ot-slider .ot-slider-layer.first {
    width: 43.36%;
    margin-right: 0.84%;
}
.ot-slider .ot-slider-layer.second {
    width: 20.79%;
    margin-right: 0.84%;
}
.ot-slider .ot-slider-layer.second a strong {
    font-size: 1.3em;
}
.ot-slider .ot-slider-layer.third {
    margin-bottom: 0.7%;
}
.ot-slider .ot-slider-layer.fourth,
.ot-slider .ot-slider-layer.third {
    width: 34.126%;
}
.ot-slider .ot-slider-layer.fourth a strong,
.ot-slider .ot-slider-layer.third a strong {
    font-size: 1.32em;
}
.main-title {
    display: block;
    margin-bottom: 40px;
    padding: 4px 18px 10px 18px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #444444;
    border-left: 4px solid #006738;
}
.main-title h2 {
    font-size: 2em;
    font-weight: 800;
    color: #444444;
    letter-spacing: -2px;
}
.main-title span {
    color: #999999;
}
.main-content:after {
    display: block;
    clear: both;
    content: '';
}
.main-content.has-sidebar:before {
    display: block;
    content: '';
    right: 27.66%;
    width: 1px;
    height: 100%;
    background: transparent;
    z-index: 0;
    border-right: 1px dotted #ccc;
    position: absolute;
    top: 0px;
}
.main-content.has-sidebar > .left-content {
    display: block;
    float: left;
    width: 69.702%;
}
.image-hover {
    display: inline-block;
    overflow: hidden;
}
.image-hover img {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.read-more-link {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 100%;
}
.read-more-link i.fa {
    padding-left: 10px;
}
.banner {
    display: block;
    text-align: center;
}
.home-block {
    margin-bottom: 40px;
    border-bottom: 1px dotted #ccc;
}
.main-title a.button {
    font-size: 0.8em;
    line-height: 150%;
    margin-top: 10px;
    display: inline-block;
    padding: 8px 17px;
    color: #006738;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    margin-right: -17px;
    background: #006738;
    border: 1px solid transparent;
    box-shadow: inset 0 100px 0 0 #fff;
}
.category-default-block {
    display: block;
    padding-bottom: 30px;
}
.category-default-block .item-main {
    display: block;
}
.category-default-block .item-main .item-header {
    display: block;
    margin-bottom: 15px;
}
.category-default-block .item-main .item-header img {
    display: block;
    max-width: 100%;
    height: auto;
}
.category-default-block .smaller-articles {
    padding-left: 15px;
}
.category-default-block .item {
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-top: -2px;
    border-bottom: 1px dotted #ccc;
}
.category-default-block .item:after {
    display: block;
    clear: both;
    content: '';
}
.category-default-block .item .item-header {
    display: block;
    float: left;
    width: 61px;
    padding-top: 2px;
}
.category-default-block .item .item-content {
    margin-left: 76px;
}
.category-default-block .item .item-content h3 {
    display: block;
    margin-bottom: 8px;
    font-size: 1.3em;
    color: #444444;
    font-weight: 500;
}
.category-default-block .item .item-content .read-more-link {
    display: inline-block;
    font-size: 1em;
}
#sidebar {
    display: block;
    float: left;
    margin-left: 5%;
    width: 25.2%;
    position: relative;
}
#sidebar .widget {
    display: block;
    margin-bottom: 35px;
    position: relative;
}
#sidebar .widget > h3 {
    display: block;
    padding: 11px 16px;
    color: #444444;
    font-weight: 600;
    font-size: 1.3em;
    background-color: #E4E4E4;
    border-left: 3px solid #3c98ca;
    text-transform: uppercase;
}
#sidebar .widget > div {
    padding: 25px 0 25px 0;
    border-bottom: 1px dotted #ccc;
}
.widget > div {
    line-height: 150%;
}
#sidebar .widget > div.banner {
    background: transparent;
    padding: 0px;
}
.owl-carousel .owl-controls .owl-buttons {
    opacity: 0!important;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.lightbox span,
.lightbox h3 {
    color: #232323;
    text-shadow: none;
}
.lightbox .loading-box {
    padding: 50px 0px;
    line-height: 24px;
}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.94);
    text-align: center;
    z-index: 200;
    display: none;
    overflow-y: scroll!important;
}
.lightbox .lightcontent-loading .light-close {
    display: block;
    right: 0px;
    top: -30px;
    position: absolute;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.lightbox .lightcontent,
.lightbox .lightcontent-loading {
    background: #f4f4f4;
    width: 1140px;
    max-width: 100%;
    margin: 100px auto 70px auto;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
}
.loading-box {
    display: block;
    text-align: center;
}
.loading-box .loading-image {
    display: block;
    text-align: center;
    padding-top: 20px;
}
.light-close i.fa {
    padding-right: 6px;
}
.ot-menu-toggle {
    background-color: #006738;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.ot-menu-toggle {
    display: none;
    z-index: 1000;
    background: #1D1D1D;
    text-align: center;
    color: #f0f0f0!important;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 19px 0;
    width: 100%;
}
.ot-menu-toggle i.fa {
    padding-right: 10px;
}
.item .item-header a {
    max-width: 100%;
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    body.ot-menu-ipad-enable .ot-menu-toggle {
        display: block!important;
    }
}
@media only screen and (max-width: 600px) {
    body.ot-menu-iphone-enable .ot-menu-toggle {
        display: block!important;
    }
}
.paragraph-row {
    display: block;
    clear: both;
    position: relative;
    margin-bottom: 15px;
}
.paragraph-row:after {
    display: block;
    clear: both;
    content: '';
}
.paragraph-row .column6 {
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}
.paragraph-row > div {
    float: left;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.paragraph-row > div:first-child {
    margin-left: 0px;
    padding-left: 0px;
}
input.button {
    font-size: 0.8em!important;
    margin: 0 2px 5px 0;
    display: inline-block;
    padding: 8px 17px;
    color: #fff!important;
    background: #006738;
    text-decoration: none!important;
    text-transform: uppercase;
    border-radius: 2px;
    border: 0px;
    cursor: pointer;
}
html,
body,
#dat-menu {
    width: 100%;
    height: 100%;
}
.dat-menu-wrapper.dat-menu-padding {
    padding-top: 0px;
}
.dat-menu-list {
    display: none;
    position: absolute;
    height: auto;
    font-size: 26px;
    line-height: 130%;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 10%;
}
.dat-menu-list {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.dat-menu-list {
    width: 0px;
    padding-left: 0px;
    z-index: -1;
}
.dat-menu-list a {
    display: inline-block;
    font-weight: 300;
    margin: 0 0 30px 0;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.dat-menu-list a {
    display: block;
}
.dat-menu-list > ul {
    margin: 0px!important
}
li.dat-menu-header span {
    font-weight: 700;
    display: block;
    padding-bottom: 20px;
    color: #fff;
    padding-top: 40px;
    text-transform: uppercase;
}
ul:first-child li.dat-menu-header:first-child span {
    padding-top: 0px;
}
.dat-menu-list > ul > li > ul {
    margin-left: 0px;
    padding-left: 0px;
}
.dat-menu-list li {
    opacity: 0;
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}
.dat-menu-list {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.dat-menu-list.dat-submenu > ul > li > ul {
    margin-left: 15%!important;
    opacity: 0.7;
}
.dat-menu-list.dat-submenu > ul li.dat-has-sub > ul > li {
    display: none;
}
.dat-menu-list.dat-submenu > ul li.dat-has-sub {
    position: relative;
    display: block;
}
.dat-menu-list.dat-submenu > ul li.dat-has-sub > a {
    display: block;
    padding-right: 50px;
}
.dat-menu-list ul li > a i {
    display: none;
}
.dat-menu-list.dat-submenu > ul li.dat-has-sub:after {
    position: absolute;
    display: block;
    content: '+';
    top: 0px;
    right: 0px;
    color: #fff;
}
.dat-menu-top-header {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background: #232323;
    box-shadow: inset 0 30px 0 rgba(255, 255, 255, 0.01), inset 0 -1px 0 rgba(255, 255, 255, 0.05), 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dat-menu-top-header a {
    color: #fff;
}
.dat-menu-top-header input[type='submit'] {
    display: none!important;
}
.dat-menu-top-header input[type='text'] {
    display: block;
    position: absolute;
    height: 40px;
    top: 10px;
    padding: 0 15px;
    line-height: 40px;
    border: 0px;
    background: #fff;
    border-radius: 40px;
    outline: none;
    opacity: 0;
    box-shadow: none;
    width: 0px;
    right: 60px;
    padding: 0 15px;
    width: 0px;
    z-index: 100;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}
.dat-menu-top-header a.dat-menu-menu {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    text-decoration: none;
}
.dat-menu-top-header a.dat-menu-search {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    text-decoration: none;
}
ul#dat-menu-list-inner {
    padding-left: 0px!important;
}
@media screen and (max-width: 31em),
screen and (max-height: 36.2em) {
    .dat-menu-list {
        font-size: 17px;
        width: 6.8em;
    }
}
@media screen and (max-height: 31.6em) {
    .dat-menu-list a {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1210px) {
    .boxed {
        overflow: hidden;
    }
    .active.boxed {
        max-width: 100%;
    }
    .wrapper {
        width: 97%;
    }
    .header:not(.makefixed) > .wrapper {
        left: 1.5%!important;
        margin-left: 0px!important;
    }
    .header .search-header input[type=search] {
        height: 46px;
    }
    .header .search-header input[type=submit] {
        line-height: 46px;
        height: 46px;
    }
    .header .search-header:after {
        line-height: 46px;
        height: 46px;
        font-size: 18px;
    }
    .header .main-menu li > a i {
        font-size: 0;
    }
    .header .header-logo {
        border-bottom: 0px;
        padding-bottom: 0px;
    }
    .header .main-menu li > a {
        font-size: 1em!important;
        padding: 16px 20px 16px 20px!important;
    }
    .header .under-menu li a {
        font-size: 0.8em!important;
    }
    .header .under-menu {
        line-height: 38px;
    }
    .search-header {
        display: none;
    }
}
@media only screen and (max-width: 970px) {
    body,
    div,
    p,
    a {
        -webkit-text-size-adjust: none;
        letter-spacing: .015em;
    }
    .header {
        height: auto!important;
    }
    body {
        font-size: 12px;
    }
    .header .search-header input[type=search] {
        height: 46px;
    }
    .header .search-header input[type=submit] {
        line-height: 46px;
        height: 46px;
    }
    .header .search-header:after {
        line-height: 46px;
        height: 46px;
        font-size: 18px;
    }
    .header .main-menu li > a i {
        font-size: 0;
    }
    .header .header-logo {
        border-bottom: 0px;
        padding-bottom: 0px;
    }
    .header .main-menu li > a {
        font-size: 1em!important;
        padding: 16px 13px 16px 13px!important;
    }
    .header .under-menu li a {
        font-size: 0.8em!important;
        padding: 0px 13px!important;
    }
    .header .under-menu {
        line-height: 38px;
    }
    .header .header-logo > strong {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .header .header-right,
    .search-header {
        display: none!important;
    }
    .header .header-left {
        display: block;
        width: 100%;
        padding: 20px 0;
    }
    .main-content > .left-content {
        display: block;
        width: 100%!important;
        clear: both!important;
        float: none!important;
    }
    #sidebar {
        display: block;
        width: 100%;
        margin: 50px 0 0 0!important;
        padding-top: 30px;
        clear: both;
        float: none;
        border-top: 2px solid rgba(0, 0, 0, 0.05);
    }
    .ot-slider {
        font-size: 0.8em;
    }
    .main-content.has-sidebar:before {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 92%;
    }
    .paragraph-row > div {
        display: block;
        width: 100%!important;
        margin: 0px!important;
        clear: both;
        float: none!important;
    }
    .header {
        padding-top: 0px;
    }
    .header:not(.makefixed) > .wrapper,
    .header > .wrapper {
        width: 100%!important;
        left: 0px!important;
    }
    .ot-slider.owl-carousel {
        display: none!important;
    }
    .main-title a.button {
        display: none;
    }
    .image-hover img {
        transition: none;
        -webkit-transition: none;
    }
    .category-default-block .item-main {
        margin-bottom: 20px;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 20px;
    }
    .category-default-block .smaller-articles {
        padding-left: 0px;
    }
    .category-default-block {
        max-width: 406px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 320px) {
    .main-title a.button {
        display: none;
    }
    .main-title h2 {
        font-size: 1.5em;
    }
}
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-controls .owl-buttons div {
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
}
// Default status
die( '0');
@import url("../fraction-theme/style.css");
.header .header-right {
    background: none repeat scroll 0 0 #000 !important;
}
.header .header-left {
    background: none repeat scroll 0 0 #006738 !important;
}
.header .header-logo {
    margin: 11px 17px 10px 11px;
    padding-bottom: 12px;
}
.header .under-menu {
    line-height: 58px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
}
.header .under-menu li > ul > li > a {
    background: none repeat scroll 0 0 #f1f1f2;
    border-bottom: 1px dotted #d3d3d3;
    color: #006738;
    font-size: 0.9em;
    line-height: 2.75em;
}
.main-content a {
    color: #3c98ca;
    font-weight: normal;
}
.main-menu li > ul {
    padding-bottom: 0px;
}
.main-menu > ul > li > a {
    font-size: 1.1em;
}
.header .under-menu li a {
    font-size: 0.75em;
    padding: 0 17px;
}
.main-menu > ul > li:not(.has-ot-mega-menu) > ul li > a {
    background: none repeat scroll 0 0 #f1f1f2;
    border-bottom: 1px dotted #d3d3d3;
    color: #006738;
}
.main-menu > ul > li:not(.has-ot-mega-menu) li a {
    background: #f1f1f2;
    color: #006738 !important;
}
.tag-cloud-body a,
.small-sidebar .widget > h3,
.content a:hover,
.main-title a.button,
.article-links-block .item > h3,
a {
    color: #006738;
}
.block-comments #respond p input[type="submit"],
.writecomment p input[type="submit"],
.big-message h2,
.tag-cloud-body a,
ol#comments .user-author,
#sidebar .widget > .ot-tabbed,
.breaking-news .breaking-title,
.widget .tagcloud a,
.main-menu > ul > li > ul,
.main-title a.button,
.header .header-right,
.ot-menu-toggle {
    background-color: #006738;
}